<section class="shipping-index">
  <section class="shipping-info-table">
    <table class="table">
      <thead>
      <th scope="col">First Name</th>
      <th scope="col">Last Name</th>
      <th scope="col">Street Address</th>
      <th scope="col">City</th>
      <th scope="col">State</th>
      <th scope="col">Zipcode</th>
      <th scope="col">Country</th>
      </thead>
      <tbody>
        <% @shipping_infos.each do |shipping_info| %>
          <tr>
            <td><%= shipping_info.first_name %></td>
            <td><%= shipping_info.last_name %></td>
            <td><%= shipping_info.street %></td>
            <td><%= shipping_info.city %></td>
            <td><%= shipping_info.state %></td>
            <td><%= shipping_info.zipcode %></td>
            <td><%= shipping_info.country %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </section>
</section>