<section class="billing-info">
  <h2><%= action_name %> Billing Info</h2>
  <% if @billing_info.shipping_infos.any? %>
    <%= link_to "View Shipping Info", shipping_info_path(@billing_info.shipping_infos.first.id) %>
  <% end %>

  <%= form_with model: @billing_info do |f| %>
    <div class="form-group">
      <%= f.label :email %>
      <%= f.email_field :email, required: true %>
    </div>

    <div class="form-group">
      <%= f.label :card_brand %>
      <%= f.text_field :card_brand, required: true %>
    </div>

    <div class="form-group">
      <%= f.label :card_number %>
      <%= f.text_field :card_number, required: true %>
    </div>

    <div class="form-group">
      <%= f.label :card_expiration %>
      <%= f.date_field :card_expiration, required: true %>
    </div>

    <div class="form-group">
      <%= f.label :card_cvv %>
      <%= f.text_field :card_cvv, required: true %>
    </div>

    <%= f.submit "Save Billing Info", class: "btn btn-secondary", data: {confirm: "Are you sure you want to submit this billing info? You will be redirected to back to your cart for final confirmation."} %>
  <% end %>
</section>