<h2>My Dashboard</h2>

<p><%= link_to "Create a new category", new_category_path %></p>
<p><%= link_to "All my products", user_path(@user.id) %></p>
<p><%= link_to "Edit/update existing products", user_path(@user.id) %></p>
<p> <%= link_to "Create a new product", new_product_path %> </p>
<p> <%= link_to "Retire a product", user_path(@user.id) %> </p>

