<% if @user.id == session[:user_id]%>
  <h2>Sellar: <%= @user.username %></h2>
  <h2> <%= link_to "View my dashboard", current_user_path %> </h2>
<% else %>
  <h2>Seller: <%= @user.username %></h2>
<% end %>

<h3>Seller information</h3>
<p>Name: <%=@user.name %></p>
<p>Member Since: <%= @user.created_at %></p>

<% if @user.products.nil? %>
  <h3>
    <%= "#{@user.name} does not currently have celestial bodies for sale" %>
  </h3>
<% else %>
  <h3>
  <%= "#{@user.name} is currently selling:" %>
  </h3>
  <table>
    <tr>
      <th>Category</th>
      <th>Name</th>
      <th>Price</th>
      <th>Description</th>
      <th>Inventory</th>
      <th>Photo💣</th>

      <% if @user.id == session[:user_id]%>
        <th>Edit</th>
        <th>Retire</th>
      <%end %>
    </tr>
    <% @user.products.each do |product| %>
      <tr>
        <td>
          <%= product.category %>
        </td>
        <td>
          <%= link_to "#{product.name}", product_path(product.id)  %>
        </td>
        <td>
          <%= number_to_currency(product.price) %>
        </td>
        <td>
          <%= product.description %>
        </td>
        <td>
          <%= product.inventory %>
        </td>
        <% if product.image.attached? %>
          <td>
            <a href="<%= product_path(product.id) %>"><image src="<%=(url_for(product.image)) %>" alt="celestial object" class="dashboard-image">
            </image></a>
          </td>
        <% else %>
          <td>
            <%= link_to "👾No Image🧨", product_path(product.id) %>
          </td>
        <% end %>

        <% if @user.id == session[:user_id]%>
          <td> <%= button_to "Edit", edit_product_path(product.id) %></td>
          <td> <%= button_to "Delete", product_path(product.id), method: :delete, data:{confirm: 'Please confirm you would like to delete this product.'} %></td>
        <%end %>
      </tr>
    <% end %>
  </table>
<% end %>
