

  <section>
  <table>
    <tr>
      <th>

      </th>
      <th>
        Product Name
      </th>
      <th>
        Price
      </th>
      <th>
        Quantity
      </th>
      <th>
        Total Price
      </th>
    </tr>
    <% @order.order_items.each do |item| %>
    <tr>
      <td>
        <%if item.product.image.attached? %>
          <image src="<%=(url_for(item.product.image)) %>" alt="celestial body"></image>
        <%else %>
          No image
        <%end %>
      </td>
      <td>
        <%= item.product.name %>
      </td>
      <td>
        <%= number_to_currency(item.product.price) %>
      </td>
      <td>
        <%= item.quantity %>
      </td>
      <td>
        <%= number_to_currency(item.quantity * item.product.price) %>
      </td>
      <% @order.order_items.each do |order_item| %>
      <%= form_with model: order_item, url: edit_quantity_path(order_item.id), method: :patch do |f| %>
        <%= f.label :quantity %>
        <%= f.select :quantity, (1..order_item.quantity) %>
        <%= f.submit "Lower Quantity" %>
        <% end %>
        <% end %>

    </tr>
      <% end %>
  </table>
    <% if @order.shipping_info.nil? %>
      <%= button_to "Add Shipping Information", new_shipping_info_path, method: :get %>
    <% end %>
    <%# if @order.billing_info.nil? %>
      <%#= button_to "Add Billing Information", new_billing_info_path, method: :get %>
    <%# end %>
    <% if @order.shipping_info && @order.billing_info %>
      <%= button_to "Submit Order", checkout_order_path(@order.id) %>
    <% end %>
  </section>
