<section class=”orders-show page-title”>
  <h2>Order #<%= @order.id %></h2>
  <h4>Submitted on <%= @order.complete_date %></h4>
</section>
<section class="orders-show order-table">
  <table class="table">
    <thead>
    <tr>
      <th scope="col">Item Name</th>
      <th scope="col">Item Description</th>
      <th scope="col">Number Ordered</th>
      <th scope="col">Line Item Cost</th>
    </tr>
    </thead>
    <tbody>
      <% if @order %>
        <% @order.order_items.each do |order_item| %>
          <% if order_item %>
            <tr>
              <td><%= order_item.product.name %></td>
              <td><%= order_item.product.description %></td>
              <td><%= order_item.quantity %></td>
              <td><%= order_item.quantity * order_item.product.price %></td>
            </tr>
          <% end %>
        <% end %>
        <tr class="table-active">
          <td colspan="2">Order Summary</td>
          <td><%= @order.order_items.length %></td>
          <td><%= @order.total_cost %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</section>
