<main>
  <h2>
    <section class=”category-show”>
      <%= "Category: #{@category.name}" %>
    </section>
  </h2>
  <section>
    <p>
      <%= @category.description %>
    </p>
  </section>
  <section>
    <% if @category.products.nil? %>
      <h3>
        <%= "No celestial bodies are for sale under #{@category.name}" %>
      </h3>
      <% else %>
      <h3>
        <%= "Celestial bodies for sale under #{@category.name}" %>
      </h3>
    <table>
      <th>Category</th>
      <th>Name</th>
      <th>Price</th>
      <th>Description</th>
      <th>Inventory</th>
      </tr>
      <% @category.products.each do |product| %>
        <% if product.retire == false || product.retire == nil %>
        <tr>
          <td>
            <% product.categories.each do |category| %>
                <%= category.name %><br/>
            <% end %>
          </td>
          <td>
            <%= link_to product.name, product_path(product.id) %>
          </td>
          <td>
            <%= number_to_currency(product.price) %>
          </td>
          <td>
            <%= product.description %>
          </td>
          <td>
            <%= product.inventory %>
          </td>
        <% end %>
        <% end %>
    </table>
    <% end %>
  </section>
</main>