<%= form_with model: @product, class: 'product_form' do |f| %>


  <div>
    <%= f.label :categories %>
    <%= collection_check_boxes :product, :category_ids, Category.all, :id, :name %>
  </div>


  <%= f.label :name %>
  <%= f.text_field :name, required: true %>

  <%= f.label :price %>
  <%= f.text_field :price, required: true %>

  <%= f.label :description %>
  <%= f.text_field :description, required: true %>

  <%= f.label :inventory %>
  <%= f.text_field :inventory, required: true  %>

  <%= f.label :image %>
  <%= f.file_field :image  %>


  <%= f.submit "Submit", class: "product-button" %>
<% end %>