<main>
  <h2>
    <section class=”product-show”>
      <%= "Product: #{@product.name}" %>
    </section>
  </h2>
  <section>
    <ul>
      <li> <%= "Merchant: #{@product.user_id.name}" %></li>
      <li>
        <ul>
          <% @product.categories.each do |category| %>
          <li>
            <%= category.name %>
          </li>
          <% end %>
      </ul>
         </li>
      <li> <%= "Price: #{format_money(@product.price)}" %> </li>
    </ul>
  </section>
  <section>
    <p>
      <%= @product.description %>
    </p>
  </section>

</main>
