<main>
  <h2>
    <section class=”product-show”>
      <%= "Product: #{@product.name}" %>
    </section>
  </h2>
  <section>
    <ul>
<!--      <li> <%#= "Category: #{@product.category}" %> </li>-->
      <li> <%= "Price: #{number_to_currency(@product.price)}" %> </li>

      <li> <%= "Merchant: #{@product.user.name}" %></li>
      <li>
        <ul>
          <% @product.categories.each do |category| %>
          <li>
            <%= category.name %>
          </li>
          <% end %>
      </ul>
    <li> <%= "Price: #{number_to_currency(@product.price)}" %> </li>
    </ul>
  </section>
  <section>
    <p>
      <%= @product.description %>
    </p>
    <% if @product.image.attached? %>
      <image src="<%=(url_for(@product.image)) %>" alt="black hole">
      </image>
    <% end %>
  </section>
  <section>
    <%= form_with model: @product, url: add_to_cart_path do |f| %>
      <%= f.label :quantity %>
      <%= f.select :inventory, (1..@product.inventory) %>
      <%= f.submit "Add to Cart" %>
    <% end %>
  </section>
  <section>
    <h2>Stellar Product Reviews:</h2>
    <!--     if user product reviews don't exist:-->
    <% if @product.reviews.length < 1 %>
          <h3>this seller has not been rated</h3>
<!--         if user product reviews exist:-->
    <% else %>
          <table>
            <tr>
              <th>Rating (⭐️ to ⭐⭐⭐⭐⭐)</th>
              <th>Date</th>
              <th>Review</th>
            </tr>
          </table>
      <% @product.reviews.each do |review| %>
        <table>
            <tr>
              <td>
                <% if review.rating == 1 %>
                  <%= "⭐" %>
                <% elsif review.rating == 2 %>
                  <%= "⭐" %>
                <% elsif review.rating == 3 %>
                  <%= "⭐⭐⭐" %>
                <% elsif review.rating == 4 %>
                  <%= "⭐⭐⭐⭐" %>
                <% elsif review.rating == 5 %>
                  <%= "⭐⭐⭐⭐⭐" %>
                <% end %>
              </td>
              <td>
        <%= review.created_at %>
              </td>
              <td>
        <%= review.description %>
              </td>
            </tr>
        </table>
        <% end %>
    <% end %>
  </section>
  <section>
    <h2>Throw some sound in the void:</h2>
    <%= render partial: "reviews/review_form", locals: { action_name: "Leave your Mark", product: @product } %>
  </section>

</main>
