<main>
  <h2>
    <section class=”product-index”>
      <%= "Product: #{@product.name}" %>
    </section>
  </h2>
  <section>
    <ul>
      <li> <%= "Category: #{@product.category}" %> </li>
      <li> <%= "Price: #{@product.price}" %> </li>
    </ul>
  </section>
  <section>
    <p>
      <%= @product.description %>
    </p>
  </section>
  <section>
    <h2>Throw some sound in the void a/k/a script a review:</h2>
    <%= render partial: "reviews/review_form", locals: { action_name: "Leave your Mark", product: @product } %>
  </section>

</main>
