<!DOCTYPE html>
<html>
  <head>
    <title>Stellar</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <header>
    <h1><a name="top">Stellar</a></h1>
    <ul class="nav app-header__user-nav-container">
      <li class="nav-item app-header__nav_item">
        <%= link_to "Home", root_path, class: "btn btn-primary" %>
      </li>
      <% if @login_user %>
        <li class="nav-item app-header__nav_item">
          <%= link_to "Logged in as #{@login_user.username}", user_path(@login_user), class: "btn btn-primary" %>
        </li>
        <li class="nav-item app-header__nav_item">
          <%= link_to "Log Out", logout_path, method: :delete, class: "btn btn-primary" %>
        </li>
      <% else %>
        <li class="nav-item app-header__nav_item">
          <%= link_to "Log in with GitHub", github_login_path, class: "btn btn-primary" %>
        </li>
      <% end %>
      <li class="nav-item app-header__nav_item">
        <%= link_to "View Products", products_path, class: "btn btn-primary"  %>
      </li>
      <li class="nav-item app-header__nav_item">
        <%= link_to "View Users", users_path, class: "btn btn-primary"  %>
      </li>
      <li>
        <%= button_to "View Cart", checkout_order_path(session[:order_id]), method: :get, class: "btn btn-info"  %>
      </li>
    </ul>
  </header>
  <main>
    <% if flash.any? %>
      <section class="alert__container">
        <% flash.each do  |name, message| %>
          <div class="<%= name.to_s == "error" ? "alert alert-danger" : "alert alert-success" %>">
            <%= message %>
          </div>
        <% end %>
      </section>
    <% end %>
    <%= yield %>
  </main>
  </body>
  <footer>
    <%= link_to "Back to Top", "#top", class:"small" %>
  </footer>
</html>